<a *ngIf="(chatInfo === undefined || chatInfo.usuariosComMensagens === undefined) || (chatInfo !== undefined && chatInfo !== null && chatInfo.usuariosComMensagens !== null && chatInfo.usuariosComMensagens !== undefined && chatInfo.usuariosComMensagens.length === 0)" routerLink="/dashboard" class="btn send-message-btn " role="button"><i class="fa fa-search"></i> Voltar</a>
<h1 *ngIf="chatInfo === undefined || chatInfo.usuariosComMensagens === undefined">Carregando conversas</h1>
<h1 *ngIf="chatInfo !== undefined && chatInfo !== null && chatInfo.usuariosComMensagens === undefined">Carregando conversas</h1>
<h1 *ngIf="chatInfo !== undefined && chatInfo !== null && chatInfo.usuariosComMensagens !== null && chatInfo.usuariosComMensagens !== undefined && chatInfo.usuariosComMensagens.length === 0">Não existem conversas</h1>
<div class="chat-w" *ngIf="chatInfo !== undefined && chatInfo != null && chatInfo.usuariosComMensagens !== null && chatInfo.usuariosComMensagens !== undefined && chatInfo.usuariosComMensagens.length > 0">
    <div class="d-flex justify-content-between bg-success pb-2 pt-2 pl-2 pr-2">  
        <div class="btn-panel btn-panel-conversation">
           <a routerLink="/dashboard" class="btn send-message-btn " role="button"> Voltar</a>
        </div>
  </div>
    <div class="row pt-3">
       <div class="col-lg-3 pr-0">
          <div class="conversation-wrap">
             <div class="media conversation cursorPointer" [ngClass]="{'bg-success': usuario.active}" *ngFor="let usuario of chatInfo.usuariosComMensagens" (click)="changeUserChat(usuario.id)">
                <a class="d-flex">
                   <div class="align-self-center">
                      <img class="media-object img-circle" src="assets/img/user-{{usuario.avatar}}.jpg" width="50" height="50">
                   </div>
                   <div class="align-self-center pr-2 pl-2">
                      <h6>{{usuario.nick}}</h6>
                   </div>
                </a>
             </div>
          </div>
       </div>
       <div class="col-lg-9 pl-0">
          <div class="message-wrap">
             <div class="msg-head">
                <div class="d-flex justify-content-between pb-2 pt-2 pl-3 pr-3">
                   <div class="d-flex">
                      <div class="align-self-center">
                         <img class="media-object img-circle" src="assets/img/user-{{usuarioAtivo.avatar}}.jpg" width="50" height="50">
                      </div>
                      <div class="align-self-center pr-2 pl-2">
                         <h6>{{usuarioAtivo.nick}}</h6>
                      </div>
                   </div>
                </div>
             </div>
             <div class="msg-wrap">
                <div class="clearfix msg" [ngClass]="{'msg-me': message.idUsuarioOrigem === usuarioAtivo.id}" *ngFor="let message of chatInfo.mensagensAtivas">
                   <div class="pl-3 pr-3 msg-w">
                      <small>{{message.message}}</small>
                      <small class="time">{{message.dateFormatter}}</small>
                   </div>
                </div>
             </div>
             <div class="send-wrap ">
                <textarea class="form-control send-message" rows="6" placeholder="Digite sua mensagem..." [(ngModel)]="newMessage" name="message" id="message" #message="ngModel" [maxLength]="255"></textarea>
             </div>
             <div class="btn-panel">
                <a (click)="send()" *ngIf="newMessage" class="text-right btn btn-primary send-message-btn" role="button"><i class="fa fa fa-paper-plane"></i> Enviar</a>            
             </div>
          </div>
       </div>
    </div>
 </div>