<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-4 col-half" widget="">
        <div class="silk-card border-success">
            <div class="silk-card-title d-flex justify-content-between">
                <a routerLink="/dashboard"><button type="button" class="btn btn-primary">Voltar</button></a>
                <h4 class="ng-tns-c6-19"><i class="fa fa-user-plus fa-lg mx-1"> </i>Contatos</h4>
            </div>
            <div class="widget-body">
                <h1 *ngIf="contatos === undefined">Carregando contatos</h1>
                <h1 *ngIf="contatos === null || (contatos !== null && contatos !== undefined && contatos.length === 0)">Não existem contatos</h1>
                <ul class="registered-users-list clearfix list-style-none pl-0 d-flex align-content-around flex-wrap" *ngIf="contatos !== null && contatos !== undefined && contatos.length > 0">
                    <li class="ng-tns-c6-19 ng-star-inserted" *ngFor="let contato of contatos">
                        <a class="d-block mb-2"><img class="ng-tns-c6-19" alt="" height="128" width="128" src="assets/img/user-{{contato.avatar}}.jpg"></a>
                        <p class="text-ellipsis"> <strong class="ng-tns-c6-19">{{contato.nick}}</strong></p>
                        <p *ngIf="contato.conectado" class="mb-0"><small><i class="fa fa-circle text-success"></i> Online</small></p>
                        <p *ngIf="!contato.conectado" class="mb-0"><small><i class="fa fa-circle text-danger"></i> Offline</small></p>
                        <i class="fa fa-ban cursorPointer" *ngIf="!contato.bloqueado" aria-hidden="true" (click)="bloquear(contato.id)"> Bloquear</i>
                        <i class="fa fa-unlock cursorPointer" *ngIf="contato.bloqueado" aria-hidden="true" (click)="desbloquear(contato.id)"> Desbloquear</i>
                        <i class="fa fa-user-o cursorPointer" *ngIf="contato.statusSolicitacaoAmizade === 'NAO_SOLICITADO'" aria-hidden="true" (click)="solicitarAmizade(contato.id)"> Solicitar Amizade</i>
                        <i class="fa fa-user-o cursorPointer" *ngIf="contato.statusSolicitacaoAmizade === 'PENDENTE' && !contato.amizadeSolicitada" aria-hidden="true" (click)="aceitarAmizade(contato.id)"> Aceitar Pedido Amizade</i>
                        <i class="fa fa-user-o cursorPointer" *ngIf="contato.statusSolicitacaoAmizade === 'PENDENTE' && !contato.amizadeSolicitada" aria-hidden="true" (click)="recusarAmizade(contato.id)"> Recusar Pedido Amizade</i>
                        <i class="fa fa-commenting cursorPointer" *ngIf="(contato.statusSolicitacaoAmizade === 'ACEITO' || contato.permitirConversasAnonimas) && !contato.bloqueado" aria-hidden="true" (click)="chat(contato.id)"> Chat</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>