body .silk-login-wrapper {
    background-color:#34262a;
    color:#fff;
}

.justify-content {
    justify-content: center;
}

.title-login{
    background-color:#053d4e;
    color:#fff;
    background-image: url('./../../../assets/img/logo_hotmart_transparent.png');
    background-repeat: no-repeat;
    background-size: 4.5em;
    background-position-y: 0.3em;
}